@charset "UTF-8";

form#iolist {
	width: 60%;
	margin: 0 auto;
	margin-top: 100px;
}

form#iolist fieldset {
	height: 500px;
}

form#iolist fieldset legend {
	font-size: 20px;
	padding: 10px;
}

form#iolist div {
	width: 95%;
	margin: 20px auto;
	display: flex;
	padding: 10px;
}

form#iolist label {
	flex: 1;
	width: 30%;
	text-align: center;
	padding: 8px;
	margin: 5px;
	border-bottom: 1px solid #795548;
}

form#iolist select {
	flex: 3;
	padding: 7px;
	border: 1px solid #999;
	border-radius: 4px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
}

select::-ms-expand {
	display: none;
}

form#iolist input {
	flex: 3;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin: 5px;
	padding: 8px;
	outline: none;
}

form#iolist fieldset {
	border: 2px solid #bcaaa4;
	border-radius: 4px;
	padding: 1rem;
}

form#iolist fieldset legend {
	color: #795548;
	font-weight: bold;
	text-align: center;
}

form#iolist fieldset div label {
	color: #795548;
	font-weight: bold;
}

form#iolist div.button-box {
	justify-content: flex-end;
}

form#iolist button#btn-save {
	background-color: #795548;
	color: white;
	padding: 0.5rem 25px;
	border: none;
	border: 2px solid transparent;
	border-radius: 4px;
	cursor: pointer;
	outline: none;
	font-family: 'Nanum Myeongjo', serif;
	font-weight: bold;
}

form#iolist button#btn-save:hover {
	background-color: white;
	color: #795548;
	border: 2px solid #795548;
	transition: 0.5s;
}